/******************************
EXAMPLE STYLES
******************************/
.noscroll {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 9999;
  visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.wrap {
  display: block;
  width: 80%;
  max-width: 740px;
  margin: 120px auto 0;
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 36px;
}

/* Main Nav */
.nav {
  width: 80%;
  max-width: 700px;
  margin: 20px auto 15%;
  font-size: 100%;
  text-align: center;
  padding-bottom: 20px;
}

.nav-el {
  position: relative;
  display: inline-block;
  float:left;
  width: 30.3%;
 
  margin:0 1.4%;
  padding-bottom: 28.3%;
  color: black;
  z-index: 10;
  /* Placements */
}
.nav-el[class^="font-"], .nav-el [class*="font-"]{
	position: absolute;
  top: 35%; 
  left: 18%;
  right:25%;
  
  margin: 0 auto;
}
.nav-el [class^="icon-"], .nav-el [class*=" icon-"] {
  position: absolute;
  top: 50%;
  left: 50%;
  line-height: 0;
  margin-left: -0.5em;
}
.nav-el.active_reverse {
  z-index: 11;
  background: transparent;
}
.nav-el.inactive {
  pointer-events: none;
  cursor: default;
}
.nav-el:nth-of-type(3n+1) {
  float: left;
}
.nav-el:nth-of-type(n+4) {
  margin-top: 5%;
}
.myzan{
	margin-top: 20%;
}
/* A fix for Safari and .nav-el z-index:
	when animation starts, the square appear bellow other .nav-el
  	even if it has a bigger z-index */


/* Space adjustment  */
@media only screen and (max-width: 320px) {
  .nav {
    font-size: 13px;
    
  }
  .title-img{
  	margin-top: 20px;
  	height: 100px;
  	width: 100px;
  }
}
@media only screen and (min-width: 321px) {
  .nav {
    font-size: 15px;
  }
  .title-img{
  	margin-top: 20px;
  	height: 100px;
  	width: 100px;
  }
}
@media only screen and (min-width: 520px) {
  .nav {
    font-size: 23px;
  }
  .title-img{
  	margin-top: 30px;
  	height: 120px;
  	width: 120px;
  }
}
@media only screen and (min-width: 700px) {
  .nav {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) {

  .overlay .wrap {
  	
    margin: 150px auto 0;
  }
  .title-img{
  	margin-top: 40px;
  	height: 150px;
  	width: 150px;
  }
}
@media only screen and (min-width: 800px) {

   .nav {
    font-size: 36px;
  }
  .title-img{
  	margin-top: 50px;
  	height: 170px;
  	width: 170px;
  }
}
@media only screen and (min-width: 888px) {

   .nav {
    font-size: 40px;
  }
  .title-img{
  	margin-top: 60px;
  	height: 200px;
  	width: 200px;
  }
}
/******************************
COLORS
******************************/
/* demo4 */
body.dm-demo4 {
  background: white;
}

body.dm-demo4 .button {
  color: #34495e;
  background: #E6109B;
}
body.dm-demo4 .button:hover {
  background-color: #E6109B;
}
body.dm-demo4 .overlay {
 
}
/*导航*/
body.dm-demo4 .nav-el {
	border-radius: 50px;
  background-color: #FFDEC9;
  transition: background-color .3s ease-in;
  -moz-transition: background-color .3s ease-in;
  -webkit-transition: background-color .3s ease-in;
}
body.dm-demo4 .nav-el:hover, body.dm-demo4 .nav-el.active {
  background: #FFE3FB;
}
body.dm-demo4 .nav-el.active {
  z-index: 11;
}
body.dm-demo4 .backtoarticle {
 
  color: #2c3e50;
}
body.dm-demo4 .backtoarticle:hover {
  color: #E6109B;
  border-color: #E6109B;
}
.exit{
				width: 100%;
				height:100vh;
				text-align: center;
				background:url(img/myblogbackground.png) no-repeat;
				background-size:100% 100%;
				min-width:500px;
			}
			.wenzi{
				min-width: 700px;
				padding-top: 200px;
			}
			.wenzi a{
				
				text-decoration: none;
				color: gray;
			}
			.wenzi a:hover{
				color:pink;
			}